api_gateway_api_tags = {
  "Owner" = "Andrea Cannuni"
  "Team"  = "My Team"
}

app_key_dev = "base64:etTidyLVfOQrlBlbtjpv+TNfpiw29LfbXY/oFk1oNw0="

app_key_prod = "base64:MMDhu0pkmKK90aGhIg4FqSokY9jxD9uILmerJCzwEU0="

cloudwatch_event_rule_scheduled_worker_tags = {
  "Owner" = "Andrea Cannuni"
  "STAGE" = "dev"
  "Team"  = "My Team"
}

iam_role_tags = {
  "Owner" = "Andrea Cannuni"
  "STAGE" = "dev"
  "Team"  = "My Team"
}

lambda_function_tags = {
  "Owner" = "Andrea Cannuni"
  "STAGE" = "dev"
  "Team"  = "My Team"
}

s3_bucket_storage_tags = {
  "Owner" = "Andrea Cannuni"
  "STAGE" = "dev"
  "Team"  = "My Team"
}

sns_topic_subscription_alarms_target_email = "joedoe@example.com"

sns_topic_subscription_jira_workload_manager_email = "joedoesmanager@example.com"

sqs_dead_letter_queue_tags = {
  "Owner" = "Andrea Cannuni"
  "STAGE" = "dev"
  "Team"  = "My Team"
}

sqs_queue_tags = {
  "Owner" = "Andrea Cannuni"
  "STAGE" = "dev"
  "Team"  = "My Team"
}

ssm_parameter_store_variables_tags = {
  "Owner" = "Andrea Cannuni"
  "Team"  = "My Team"
}